[2021-05-21 21:45] pramodk commented on #667
@georgemitenkov : I will check a way to avoid `WrappedExpression`. But for your case, if we "ignore" `WrappedExpression` and process underlying AST wrapped  node, would that be ok?

i.e.

[code]

Or, if you have visitor pass then you can just visit `visit_wrapped_expression` but then do nothing and continue visiting children:

[code]

Can you point me your usage in the code and I see if the is sim

[2021-05-22 10:36] georgemitenkov commented on #667
Thank you for detailed explanation - I see why wee need `WrappedExpression` now!

For Q2, I was referring to array not bring renamed, but actually no inlined `LOCAL` variables are renamed. I guess I was looking at it from the LLVM backend point of view, where there are no scopes so we need to rename the variables:)

[2021-05-22 10:39] georgemitenkov commented on #667
Regarding the failing kernel problem, it is here:
[code]
If we return the variable from the function (i.e. `VarName`), instead we now treat it as a `Name`. So what I guess we need here is to create a `VarName` instead?

[2021-05-22 10:41] georgemitenkov commented on #667
So in JSON's output you can see that in inlining case the assignment's rhs is `Name`, not `VarName`

[2021-05-22 18:33] pramodk commented on #635
@georgemitenkov: when time permits, can you check if you can allocate BB5 compute node using following command:

[code]
After salloc, you are automatically landed on the compute node and you can run any program.

Once you confirm, I will close our internal JIRA ticket.

(Softwares available can be loaded using modules e.g. `module load unstable hpe-mpi cmake python-dev flex bison cmake llvm intel

[2021-05-22 18:53] pramodk commented on #667
I think that should be possible. Let me take a look.

[2021-05-23 20:23] georgemitenkov commented on #635
@pramodk I have checked the instructions you have posted here - everything works! Thanks!

[2021-05-23 21:14] georgemitenkov commented on #637
The `llvm.vscale` intrinsic returns the value for `vscale` in scalable vectors such as `<vscale x 4 x i8>`. Hence, we need to multiply the result by the multiple of the vector width, here 4.

[2021-05-23 21:17] georgemitenkov commented on #637
Constants:
[code]

[2021-05-24 07:36] pramodk commented on #667
[code]

With this patch, I am able to run `hh.mod`. But before PR, I want to check where you have assumption of `VarName` in IR generation. Wondering if we can't handle `Name` or `VarName`. Could you point me where is problem/assumption in IR generation pass?

[2021-05-24 07:55] pramodk commented on #635
Ok great. And here are instructions that I shared on Slack:

[code]

To use Intel SVML:
[code]

This will be useful when you will need to re-run benchmarking results that Giacomo has been preparing in #666.

As we have working instructions, I will close this.

[2021-05-24 07:55] #635 closed

[2021-05-24 08:08] georgemitenkov commented on #667
Don’t we want to also include `index` and `at` information?

The logic is here:
https://github.com/BlueBrain/nmodl/blob/4c585f396df70bb50ed322d52554cf2c2c5a061a/src/codegen/llvm/codegen_llvm_visitor.cpp#L460

I was assuming the assignment is only possible to the `VarName` (and NMODL parser/lexer always create this node for assignments, so it’s the transformation that breaks this rule). `Name` does

[2021-05-24 16:20] pramodk commented on #667
[code]

I am looking at `src/language/nmodl.yaml` and we can see that `Name`, `VarName` etc are all derived from `Identifier`. `Varname` has `at` and `index` members `optional`. This means, it can also represent same thing as `Name` (i.e. we pass `nullptr` during constructor).

Some of this could be avoided but has historical context (old parser rules).

For inline visitor I can use `varName` as d

[2021-05-24 18:19] georgemitenkov commented on #667
I see. I am mostly wondering if it would be better to fix this issue on AST level, rather than encoding a case for the name in the backend visitors😊? My thinking is that we want the same AST if parsing the MOD file, or if transformed the AST - otherwise may be too many cases to catch (both legacy and not).

If that's fine, sure! Alternatively I can add a case for `Name`, but I guess the proper han

[2021-05-24 19:07] pramodk commented on #667
Completely agree!

No..I meant, I will fix `InlineVisitor` to produce `VarName`. But there might be other cases (?) and I will fix those separately!

[2021-05-25 08:01] iomaganaris opened #670 "Add MPI tests in NMODL CI"
Install `MPI` in the `ubuntu1804` CI job in `Azure CI` and enable `MPI` for `NEURON` to enable the `testcorenrn` integration tests which require `MPI` and are part of the `NEURON` test suite

[2021-05-25 15:44] castigli commented on #596
A small update on the benchmark results of JIT vs intel.

With reference to the "compute bound" kernel, preliminary results showed a significant difference in speed between the JIT compiled kernel and the intel compiler with flags `-O2 -qopt-zmm-usage=high -xCORE-AVX512 -fimf-use-svml`.

Upon asm comparison, the main differences seem to be:
- icpc uses a vector masked loop instead of a tail loop
-

[2021-05-25 19:39] #626 closed

[2021-05-27 14:19] pramodk opened #671 "Issue while building on Apple M1 : Reason: image not found"
Building NMODL on Apple M1 works fine:

[code]

But while running nmodl we get:

[code]

[2021-05-27 14:20] pramodk commented on #671
Note that if we use Python from brew then everything works fine.

[code]

[2021-05-28 12:16] cattabiani commented on #313
today I tried to install/use this library.

Problems:

- almost all the documentation uses python or R bindings. On the cpp side I did not find anything more than the example in: https://symengine.org/design/design.html
- gmp is a required library

[2021-05-28 12:39] castigli commented on #637
As I was mentioning earlier, I implemented a simple daxpy kernel with acle that might be interesting as a reference of SVE asm code.
https://godbolt.org/z/PMTP8c67q
You can also force the VL to be fixed by adding the `-msve-vector-bits=xxx` flag and uncommenting the typedef

[code]
the interesting bits
scalar (actually scalar + neon)
[code]
sve
[code]

[2021-05-28 13:04] iomaganaris opened #672 "Test OpenACC backend on the CI"
I believe that it would be useful to test the `NEURON/CoreNEURON` integration tests with the `NMODL` `OpenACC`  backend in `GPU`s to avoid any regressions.
This can be done in the `Gitlab CI`

[2021-05-28 13:07] iomaganaris commented on #672
Duplicate of https://github.com/BlueBrain/nmodl/issues/632

[2021-05-28 13:07] #672 closed

[2021-05-28 13:09] iomaganaris commented on #670
Related to #632

[2021-05-28 13:18] georgemitenkov commented on #637
@castigli Thank you for the reference! I have adapted the kernel generated from our fixed vector pipeline and it seems like SVE is generated (reading ARM assembly is not my strong side so would be great if you can confirm!)

[code]

Here I am trying to generate SVE instructions, multiples of 2 (Link: https://godbolt.org/z/dWzrebbWx). Also putting LLVM IR and assembly for clarity:
[code]

[code]

[2021-05-28 15:14] cattabiani commented on #632
could this be done with cvf? I never tried to run on gpu

[2021-05-28 15:34] castigli commented on #637
I was reading a bit more, the instruction that gets the element count in the vector is
[code]

[2021-05-31 13:59] olupton opened #675 "NMODL does not produce correct results with OpenACC+GPU"
NMODL generates OpenACC code from the [Gfluct3.mod](https://github.com/neuronsimulator/testcorenrn/blob/7b781b3a7ac1e0b785f897e4db5c3bf84c5127d2/mod/Gfluct3.mod) mechanism that gives incorrect results. This leads to test failures when the NEURON test suite is run using CoreNEURON and NMODL, i.e.
[code]

The `testcorenrn_gf::compare_results` test fails because the output spikes from `testcorenrn_gf

[2021-05-31 16:02] castigli commented on #613
Just as initial reference, below is a summary of current timings on x86_64.
First line is JIT, second line is external kernel (note that there is some overhead from JIT calling mechanism)
JIT options are
[code]
[code]

[2021-05-31 16:37] georgemitenkov commented on #613
Thanks @castigli ! Any specific reason we use only `nnan contract afn` and not `fast` for fast math flags?

[2021-06-01 06:09] castigli commented on #613
no, except that I forgot to add it!

[2021-06-01 07:56] olupton opened #678 "NMODL does not update global variables on GPU"
NMODL generates OpenACC code from the [hhwatch.mod](https://github.com/neuronsimulator/testcorenrn/blob/7b781b3a7ac1e0b785f897e4db5c3bf84c5127d2/mod/hhwatch.mod) mechanism that gives incorrect results. This leads to test failures when the NEURON test suite is run using CoreNEURON and NMODL, i.e.
[code]
The `testcorenrn_watch::compare_results` test fails because the output spikes from the CoreNEURO

[2021-06-01 08:04] olupton opened #679 "NMODL generates different WATCH statement logic to MOD2C"
While investigating https://github.com/BlueBrain/nmodl/issues/678 we noticed that NMODL generates slightly different logic for `WATCH` statements than MOD2C. This does not affect the results of the `testcorenrn_watch` test in the NEURON CTest suite, but it may still be an issue that needs to be resolved.

The following diff modifies the code generated by NMODL to match the logic from MOD2C:
[code]

[2021-06-01 08:28] olupton opened #680 "NMODL and MOD2C pass different weight indices during initialisation"
In the `nrn_init_...` method generated by NMODL for, for example, [Gfluct3.mod](https://github.com/neuronsimulator/testcorenrn/blob/7b781b3a7ac1e0b785f897e4db5c3bf84c5127d2/mod/Gfluct3.mod) there is a call
[code]
where the 4th argument is `-1`, but in the MOD2C equivalent `0` is passed. This does not appear to have any effect on whether the tests pass, but it would be good to understand if this di

[2021-06-01 10:10] nrnhines commented on #679
May want to defer this for a while. I'm working on a nrn<->coreneuron problem with WATCH statements using a more stringent test. (multiple WATCH statements activated in a single NET_RECEIVE instance.) It may very well be the case that the mod2c implemention will change as a result of fixing the bug(s) revealed with this test.

[2021-06-01 18:42] nrnhines commented on #679
The PR BlueBrain/mod2c#63 adds logic for WATCH statements so that only one can be triggered at a time when several are simultaneously activated.

[2021-06-02 22:49] pramodk opened #684 "Option to set CPU type rather than backend (SSE, AVX2)"
Hello @georgemitenkov,

We want to benchmark performance with SSE, AVX2, AVX-512 etc. I was working on adding CLI option to set cpu features from CLI. I realised that we have code below which didn't work as expected:

[code]

Instead of enabling/disabling features, don't you think we should set directly CPU type instead of always getting default CPU?  i.e. like `-cpu` arg for other commands, what

[2021-06-02 23:00] georgemitenkov commented on #684
I was about to remove that actually)

Yes, we can add a cpu option and I think it would be useful to have it for benchmarking! Disabling features is wrong and we should not do that for sure.

Currently we have this:
[code]
So instead of querying for a cpu we can just pass the one from the command line.

[2021-06-03 07:39] georgemitenkov commented on #613
@pramodk @castigli @iomaganaris

Current configurations would be, with [..] indicating a test parameter
[code]
For CPU names, we can use any that Clang supports. We also want to see the effect of aliasing, and see how performance for floats differ (float => 32bits => vector width is greater => maybe more scatter/gather overhead)

[2021-06-03 20:30] pramodk commented on #684
fixed by #686

[2021-06-03 20:30] #684 closed

[2021-06-04 16:11] castigli opened #689 "Initial timings on aarch64 (scalar and neon only)"
# Preliminary timings on `crow` (a64fx)

## General observations
- the code vectorizes as expected with vector width equal 2 (Neon/Advanced SIMD instructions)
- there is a significant speedup of vectorized code from 1.5x to 2.7x depending on the kernel
- when exp function is present, the vector library (SLEEF) has a major impact on performance of vectorized code
-  it looks like the "memory bound"

[2021-06-04 16:11] castigli commented on #689
@georgemitenkov @pramodk @iomaganaris

[2021-06-10 09:08] kotsaloscv opened #691 "Error in code generation of reduced dentate benchmark"
I followed the instructions of the reduced dentate benchmark (https://github.com/pramodk/reduced_dentate), and I got the following compilation error (code generation issue):

[code]

The problem arises from the fact that some variables should be declared inside the operator() of the Newton functor and instead they are declared as members of the struct. As a result, when they are modified from with

[2021-06-11 13:05] kotsaloscv opened #692 "Error in code generation of reduced dentate benchmark (2)"
I followed the instructions of the reduced dentate benchmark (https://github.com/pramodk/reduced_dentate), and I got the following compilation error (code generation issue):

[code]

By simply removing this part of the generated code, it eventually compiles. However, there is an issue in the generate code.

I have used nrn + coreneuron + nmodl to produce the special.

[2021-06-11 13:10] cattabiani commented on #692
it could be that these variables get defined after. It looks like you need to do some digging and comparing with the .c code

[2021-06-11 14:24] iomaganaris commented on #692
IIRC @alkino was looking at this also in the past?
Btw here is sample mod file: https://github.com/pramodk/reduced_dentate/blob/master/mechanisms/vecevent.mod

[2021-06-14 08:29] iomaganaris commented on #150
We figured out that there is an issue with the ordering of the `ion` variable indexes on https://github.com/pramodk/reduced_dentate/blob/master/mechanisms/LcaMig.mod. Especially the issue is with `cao` and `cai` variables indexes. To fix this issue we changed a bit the mod file to: https://github.com/pramodk/reduced_dentate/blob/master/mechanisms/LcaMig.mod

[2021-06-18 12:33] ohm314 opened #694 "project version string is out of date"
Probably we simply forgot to update the version string here:

https://github.com/BlueBrain/nmodl/blob/949a6ffb18f77d1dfd9bb317015b895b8820fef3/CMakeLists.txt#L11

but more generally it might be good to set the version automatically to the latest release tag.

[2021-06-23 07:48] alkino commented on #680
I think here we should get attention form @nrnhines

[2021-06-23 07:52] pramodk commented on #680
@alkino : this is NMODL bug. We need to compare with MOD2C implementation and find out why/how NMODL doing it differently.

[2021-06-24 13:54] pramodk commented on #632
@alkino : this is addressed now?

[2021-06-24 14:15] alkino commented on #632
Partly, we still have to take care of: https://github.com/neuronsimulator/nrn/pull/1338#issuecomment-867384405
to be fully compliant

[2021-06-24 15:28] iomaganaris commented on #107
Using current `NMODL` `master` branch, `reduced-dentate` `master` branch (https://github.com/pramodk/reduced_dentate) and by manually fixing the following issue https://github.com/BlueBrain/nmodl/issues/691 I run the reduced_dentate model for 10ms and found out the following:
[code]

[2021-06-24 16:29] pramodk commented on #107
@iomaganaris: what about CPU execution? And, which NMODL flags are active? (i.e. sympy analytic etc.)

[2021-06-24 21:10] pramodk commented on #150
Let's look at the examples of `TLcaMig.mod` in the reduced_dentate model:

[code]
In the above example, `cao` is defined first in the PARAMETER block and hence appear ahead of `cai` in the NMODL symbol table.

In case of NMODL, when C++ code is printed, its getting read ion variable based on symbol table: https://github.com/BlueBrain/nmodl/blob/189e35c81201b49d5cfc99256a19b7e78364a3e8/src/codegen/

[2021-06-24 22:09] iomaganaris commented on #107
Sorry for not stating some details. I updated the previous comment

[2021-06-25 10:31] pramodk commented on #692
Adding `#if !NRNBBCORE` in VERBATIM block is sufficient for this case?

[2021-06-25 11:53] iomaganaris commented on #692
It is enough for compiling the mod file, yes. It's just that the code is not generated properly, for example there is `id` variable existing in the constructor block, so maybe this is something that we can look into.
I've already added the `#if !NRNBBCORE` in the mod file in the `master` branch of `reduced-dentate` repo, so it should be compiling fine now

[2021-06-29 07:30] #150 closed

[2021-06-29 13:55] #694 closed

[2021-07-02 05:54] kotsaloscv opened #699 "olfactory-bulb-3d test : CoreNRN+NMODL gives completely different results compared to CoreNRN+MOD2C & NRN"
I have executed the olfactory-bulb-3d test and CoreNRN+NMODL gives completely different results compared to CoreNRN+MOD2C. Additionally, CoreNRN+MOD2C gives exactly the same results as pure NRN.

To reproduce (in BB5):
1. Clone olfactory test from `https://github.com/kotsaloscv/olfactory-bulb-3d.git` and checkout to `2to3` branch.
2. Install the different libraries, i.e. NMODL, CoreNRN with MOD2C,

[2021-07-14 14:15] iomaganaris opened #701 "Track v and g variables when prcellstate is enabled"
Similar to `mod2c`, `NMODL` should be able to track the variables of `v` and `g` when `prcellstate` is enabled (e.g. `-D NRN_PRCELLSTATE`).

Related `mod2c` code:
https://github.com/BlueBrain/mod2c/blob/92d62cc780ec09acde0524246cb34403bcf03fb3/src/mod2c_core/nocpout.c#L2226...L2235

As part of this ticket, we have:

* Like mod2c, we have to update _v_unused variable from v
* We can keep this varia

[2021-07-15 11:14] #580 closed

[2021-07-16 15:33] ohm314 opened #702 "Modifying the AST from python will create node copies that are lost"
See the new test case here:

https://github.com/BlueBrain/nmodl/blob/c159821b2a73ad23416d1364727dd1ce279b46ba/test/unit/pybind/test_visitor.py#L94-L106

When we use a visitor to modify the AST (e.g. replace a node) from python the changes are lost. The AST nodes in the `vist_` functions seem to be copies of the "original" objects and changes on them are lost as we recurse out of the tree.

This se

[2021-07-16 16:02] cattabiani commented on #702
once it is solved we should add a unit test to avoid repeating this error in the future

[2021-07-19 08:27] alkino commented on #432
discussed here: https://github.com/neuronsimulator/nrn/issues/1226

[2021-07-19 09:39] iomaganaris opened #703 "NMODL UNITS redefinition behavior"
Currently in `NMODL` whenever a new `UNIT` [1] or `Factor Definition` [2] is made in a mod file their value is saved in the `UNITS database`, overwriting the old value if it already exists.
This is a bit different than `NEURON`'s behavior, where `UNIT`s cannot be redefined in the `UNITS database` and to use a new `UNIT` with another value, the user needs to define a new `UNIT` with similar name an

[2021-07-19 09:51] pramodk commented on #701
To understand the purpose / motivation of this ticket, looking at the tech talk would be useful: https://drive.google.com/drive/u/1/folders/1_T1VfN_a6TW_RRx2gFu73b2nE3TSfPGn

[2021-07-19 16:48] pramodk commented on #107
I am testing neuron(master)+coreneuron(master)+nmodl(eigen_openacc_compatibility) installed with:

[code]

i.e. no `sympy analytic` option but using old solver for dervimplicit. Running small model gives:

[code]

and the corresponding code of `ccanl.cpp` is:

[code]

With the involvement of `ccanl_global`, I am thinking we should first fix the known issues already reported by @olupton :
* #678
*

[2021-07-20 07:46] #606 closed

[2021-07-20 07:47] #640 closed

[2021-07-20 08:06] georgemitenkov opened #704 "[LLVM] AST transformations for GPU support"
To support GPU execution, we want to have a transformation that changes the `FOR` loop statement into an `IF` statement for the compute kernels. I propose to have it as a separate transform - do kernel creation with loops first, and then trnaform loops.

Example:
[code]

This has a similar issue as outstanding draft PR for SVE: we need to know what `id` is (in vector case it's 0, but for GPUs it i

[2021-07-20 08:15] georgemitenkov opened #705 "[LLVM] Adding NVPTX code generation support in LLVM backend"
This is the 2nd issue we need to address to introduce GPU support for NMODL-LLVM backend (starting with NVIDIA).

With AST nodes constructed appropriately in the form:
[code]
we can adapt LLVM code generation.

- [ ] Create a lowering for `CodegenGPUId` which is just a `blockDim * blockId + threadId` encoded in appropriate intrinsics.

- [ ] Adapt address spaces for pointers to model GPU memory hi

[2021-07-20 08:28] georgemitenkov opened #706 "[LLVM] Extending JIT infrastructure to run kernels on NVIDIA GPUs"
This is the 3rd issue we need to address to introduce GPU support for NMODL-LLVM backend and be able to eun code on GPUs.

Currently, JIT runner is only working with a CPU. We can extend it to also be able to target GPUs (as well as changing the main fail to have something like `--gpu` flag). Examples are:

Tutorial from LLVM web-page: https://llvm.org/docs/NVPTXUsage.html#running-the-kernel

MLIR

[2021-07-20 09:05] pramodk commented on #678
This is somewhat related to #675 (in terms of code changes). So I will take a look at it.

[2021-07-20 10:30] alkino commented on #701
Should we put it under `NDEBUG` or something similar (something activate by cmake when compiled with `-DCMAKE_BUILD_TYPE=Debug`?

[2021-07-20 10:53] pramodk opened #707 "hhderiv.mod: Use of celsius variable with derivmplicit solver leads to error "Static variables are not supported in acc routine""
Consider hhderiv.mod file from testcorenrn test suite: https://github.com/neuronsimulator/testcorenrn/blob/master/mod/hhderiv.mod

This has:

[code]

and this result into code like:

[code]

Note that `_newton_states_hhderiv` is declared as `routine seq` and it's using `static double celcisus` variable.  This result into compilation error:

[code]

## How to reproduce?

* Install neuron+coreneuron

[2021-07-20 13:58] ohm314 commented on #702
That unit test is what I refer to above! Thought would be good to start with that :)

Here's my work in progress: https://github.com/BlueBrain/nmodl/tree/fix/pyvst_lost_nodes
I've added a PtrVisitor class that takes pointers instead of references. I don't know, there might be a better way - one should maybe setup a tiny example with pybind11 and two classes and try to reproduce it there and find a

[2021-07-20 17:24] #653 closed

[2021-07-20 19:33] pramodk commented on #707
Fixing the static variable issue resulted into segfault. There are couple of issues/bugs, see #709.

[2021-07-21 09:07] #702 closed

[2021-07-21 09:07] alkino commented on #702
Fixed by #708

[2021-07-21 09:51] #707 closed

[2021-07-21 16:46] pramodk commented on #679
Just realised there are todo's mentioned and those are not fixed yet:  https://github.com/BlueBrain/nmodl/blob/82415f4148baa52318d28bc0fccd24b20256dcc4/src/codegen/codegen_c_visitor.cpp#L3673
Working on it now.

[2021-07-23 09:29] iomaganaris opened #711 "Create issue templates for NMODL"
Create issue templates for NMODL that mention adding examples to reproduce issues and specific mod files in NMODL similar to https://github.com/BlueBrain/CoreNeuron/tree/master/.github/ISSUE_TEMPLATE

[2021-07-23 09:57] iomaganaris commented on #701
To reproduce and test this it would be helpful to try the following:
[code]
By comparing `hh.cpp.mod2c` and `hh.cpp.nmodl` the related to prcellstate parts should be something like:
`hh.cpp.mod2c`
[code]
I took above as an example the `nrn_cur` function which gets generated by translating the `BREAKPOINT` block which uses also the `_PRCELLSTATE_G` as well. `_PRCELLSTATE_V` and `_PRCELLSTATE_G` sho

[2021-07-23 11:06] pramodk commented on #680
Looking into MOD2C for [_net_send_buffering](https://github.com/BlueBrain/mod2c/blob/9b474e903028cf5512f6998c428fa03c4f3c326f/src/mod2c_core/nocpout.c#L3033) function:

[code]
the 4th parameter is `weight_index`. If I look into how the `_net_send_buffering()` is printed in mod2c at [this](https://github.com/BlueBrain/mod2c/blob/9b474e903028cf5512f6998c428fa03c4f3c326f/src/mod2c_core/nocpout.c#L313

[2021-07-23 16:31] #679 closed

[2021-07-23 16:31] #675 closed

[2021-07-23 16:31] #678 closed

[2021-07-23 16:31] #680 closed

[2021-07-26 21:44] pramodk commented on #206
We can reduce the scope of this ticket: instead of jumping to production model, we can first validate the channel-benchmark. Note that the channel-benchmark has two circuits:

- [ ] cortex
- [ ] hippocampus

The mod files from these two models should be already compatible with NMODL. As part of this ticket we can run the models and see if they produce same results as CPU version (or NEURON).

[2021-07-26 22:23] pramodk commented on #108
This needs to be re-done considering bug fixes we have done. The [notes/instructions](https://github.com/pramodk/nrntraub/blob/icei/notes) are bit outdated. (Without trying myself), steps should be:

[code]

IIRC, run.hoc needs to be updated in order to lunch CoreNEURON. See the implementation [here](https://github.com/neuronsimulator/testcorenrn/blob/7b781b3a7ac1e0b785f897e4db5c3bf84c5127d2/commo

[2021-07-26 22:36] pramodk opened #713 "Reduce #warnings generated by compiler like NVHPC"
Today compilers like NVHPC produces tooooooo many warnings while building NMODL. Not necessary to fix all warnings and some can be just ignored.

As part of this ticket, we should try to get nmodl in a "reasonable" state in terms of warnings generated while building.

[2021-07-27 08:30] olupton commented on #632
https://github.com/neuronsimulator/nrn/pull/1377 addressed those TODOs, so I think we can close this now.

[2021-07-27 08:30] #632 closed

[2021-07-28 10:24] #701 closed

[2021-07-30 15:12] WeinaJi commented on #511
https://github.com/BlueBrain/nmodl/blob/d7b82bb1fae0fdc6b9e8da6908731af447e5e659/src/lexer/nmodl_utils.cpp#L93-L103
Looking at the ``prime_symbol``constructor, it seems that it counts the number of ``'`` as the prime order. Is the order attribute used in the solver ? @iomaganaris @cattabiani

[2021-08-16 08:45] olupton opened #717 "Warnings from recent Bison and Flex versions"
Building with bison 3.6.4 and flex 2.6.4 I see
[code]
we should fix these, or suppress them if there is a good reason not to fix them.

[2021-08-17 08:21] olupton commented on #713
https://github.com/BlueBrain/nmodl/pull/716 has made the build much quieter, but only by suppressing warnings.

I'm not sure if we should close the issue, or keep it open because we really ought to fix the underlying issues...

[2021-09-02 09:34] olupton opened #725 "Sympy analytic solver is incompatible with GPU execution."
The `sympy --analytic` option to NMODL produces code that crashes on GPU.
The same models pass on GPU if this option is not passed.
This option is enabled by the `+sympy` variant of the CoreNEURON Spack recipe.

## Reproducing
One way is to use the `channel-benchmark` tests as added in https://github.com/neuronsimulator/nrn/pull/1439.
[code]
and build (with NVHPC compilers etc.). Two (three, count

[2021-09-03 13:37] olupton opened #727 "NMODL generates OpenACC code that crashes on machines without GPUs."
If we use NMODL and NVHPC to translate and compile mechanisms for GPU execution, the resulting `special-core` crashes when run on a machine without a GPUs, even if `--gpu` is not passed.

The expected behaviour is:
- `--gpu` + no attached GPU: meaningful error message
- `--gpu` + attached GPU: correct results, calculated on GPU
- no `--gpu`: correct results, calculated on CPU, regardless of whethe

[2021-09-03 13:49] olupton commented on #727
Note that after various changes (https://github.com/BlueBrain/CoreNeuron/pull/595, https://github.com/BlueBrain/CoreNeuron/pull/606 and https://github.com/BlueBrain/CoreNeuron/pull/609) then CPU execution of GPU-enabled builds should work, although there are still some non-fatal cases to be fixed as noted in https://github.com/BlueBrain/CoreNeuron/issues/599.

The model I was testing runs successf

[2021-09-06 15:02] pramodk opened #729 "Race condition in OpenACC/GPU code generation with STEADYSTATE"
Consider [SH_na8st.mod](https://github.com/pramodk/reduced_dentate/blob/master/mechanisms/SH_na8st.mod) from reduced_dentate model which has `STEADYSTATE`:

[code]

which results into following OpenACC code:

[code]

Notice the update of `nt->_dt` in the for loop: if the mechanisms are executed in parallel (SIMD or GPU execution) then this will result into race condition.

See why `dt` is changed

[2021-09-06 15:27] #135 closed

[2021-09-06 15:27] #311 closed

[2021-09-06 17:06] pramodk commented on #725
fixed by #728

[2021-09-06 17:06] #725 closed

[2021-09-06 17:06] #729 closed

[2021-09-06 21:18] pramodk opened #731 "Segmentation fault while translating hh.mod in CoreNEURON CI (Intel compiler)"
CoreNEURON CI is failing https://github.com/BlueBrain/CoreNeuron/pull/624 with the following error:

[code]

[2021-09-07 11:07] pramodk commented on #731
See the discussion in https://github.com/BlueBrain/CoreNeuron/pull/631. As 1) CI passes without ccache 2) can't reproduce the error on BB5 3) valgrind doesn't show anything obvious, I suspect the issue is with `ccache` somehow?
Something to discuss when Olli will be back.

[2021-09-08 08:08] #107 closed

[2021-09-08 08:08] #699 closed

[2021-09-08 09:52] iomaganaris commented on #699
Validation was done using https://github.com/iomaganaris/olfactory-bulb-3d/tree/2to3_bench.
Spikes were mostly similar between NEURON and CoreNEURON runs on CPU and GPU with only a very small fraction of them shifted in time due to floating point differences (conclusion based on past experiences).
To reproduce the results:
[code]

[2021-09-13 14:15] olupton commented on #731
I can't reproduce this error, and the working directory from the old test has been cleaned up.

I ran the CoreNEURON pipeline several times with/without `ccache` re-enabled (https://github.com/BlueBrain/CoreNeuron/commit/41338243da14d00d51312e4179658968d4310f05) and did not see any problem. Internal reference of pipelines: [#16278](https://bbpgitlab.epfl.ch/hpc/coreneuron/-/pipelines/16278) [#1629

[2021-09-13 14:15] #731 closed

[2021-09-14 10:50] iomaganaris opened #732 "Don't change unconditionally top level LOCAL variables to ASSIGNED"
At the moment top level `LOCAL` variables are turned into `ASSIGNED` using the `LocalToAssignedVisitor` in https://github.com/BlueBrain/nmodl/blob/5598d7cafe81512b22d627eda5f99a89c80ac217/src/main.cpp#L351
This has as a consequence the generated code (`float_variables_size()`) to have different number of float variables than the generated code by `mod2c` (`_psize` variable) and `NEURON nmodl` brea

[2021-09-15 15:14] iomaganaris opened #736 "Issue with free() when running reduced_dentate with NMODL"
The [reduced_dentate](https://github.com/pramodk/reduced_dentate) model crashes after finishing the `CoreNEURON` simulation when `NMODL` is enabled with the following error:
[code]
To reproduce the issue:
[code]
The same issue exists also in `direct mode` transfer.

[2021-09-16 07:47] olupton opened #737 "CTest suite fails when run in parallel"
It seems that running the CTest suite in parallel can produce errors, for example [in this CI run with 3 parallel jobs](https://github.com/BlueBrain/nmodl/runs/3614630061?check_suite_focus=true#step:12:116):
[code]
I have also seen this locally. I suspect the problem is that multiple tests use a temporary file with the same name (`Unit.inc`).

[2021-09-17 07:47] olupton commented on #206
This is basically done. For example, https://github.com/neuronsimulator/nrn/pull/1439 enables these tests and compares them between NEURON and CoreNEURON on CPU/GPU.

The issue is that we need a solution to https://github.com/neuronsimulator/nrn/issues/1346 so we can actually integrate these tests in the CI.

[2021-09-20 16:02] #732 closed

[2021-09-20 22:17] pramodk opened #740 "Segfault while running BBP synapse mod files with delayed connection feature [GPU]"
Consider `NET_RECEIVE` block of the synapse ProbAMPANMDA_EMS.mod:

[code]

this results into `net_init` function:

[code]

Above `net_init`'s cpu function pointer gets registered and then gets called during `finitialize` on CPU. Notice that `inst` is in unified memory but pointers like `*vv_delay_times` etc are GPU pointers and get dereferenced on CPU. This results into segfault.

[2021-09-29 16:16] #740 closed

[2021-10-05 12:07] iomaganaris commented on #511
I took a brief look and I thought of these two options:

Proposal 1 (fairly easy but bit dirty):

- `get_node_with_index() { return node.get_node_name() << "[" << to_nmodl(node.get_length()) << "]"; }` in IndexedName.cpp
- Create utility function that check whether there is just a simple `Name` or `IndexedName` and returns the proper string
- Use this function in https://github.com/BlueBrain/nmodl

[2021-10-05 12:34] cattabiani commented on #511
this function, as it is right now, does not solve the problem because it returns with the prime

[2021-10-05 12:44] iomaganaris commented on #511
Yes, sorry, I updated my previous comment. I meant use `get_nodee_with_index()` instead of `to_nmodl(lhs)` and then removing `'`

[2021-10-05 12:46] cattabiani commented on #511
I think this was my workaround

[2021-10-05 12:55] iomaganaris commented on #511
It's a similar solution but it would be part of `IndexedName` class

[2021-10-05 15:52] WeinaJi commented on #511
Hello @iomaganaris @cattabiani , thanks for the proposals. Proposal 1 seems to be easier for me to start with.
Is there already a unit test to test the `IndexedName` ?

[2021-10-05 16:37] iomaganaris commented on #511
I don't think there is a unit test for `IndexedName`. To test the class you can do simply something like this https://github.com/BlueBrain/nmodl/commit/c0c34b57fa1a367dc64c0db731c7495aa61cf3e9. Since `IndexedName` class' code is automatically generated with `jinja` to enrich the class it's needed to edit https://github.com/BlueBrain/nmodl/blob/master/src/language/templates/ast/node_class.template

[2021-10-11 08:09] olupton opened #749 "sympy 1.9 incompatibility with test: Solve ODEs with cnexp or euler method using SympySolverVisitor"
[sympy 1.9 was released 2 days ago](https://pypi.org/project/sympy/1.9/), which has caused [CI failures](https://github.com/BlueBrain/nmodl/runs/3856512273):
[code]

https://github.com/BlueBrain/nmodl/pull/748 stops the new sympy version from being used in the CI, but the underlying issue should be fixed so that we can remove these constraints.

[2021-10-11 11:53] #108 closed, assigned to iomaganaris

[2021-10-12 14:54] olupton commented on #206
https://github.com/BlueBrain/spack/pull/1303 and https://github.com/neuronsimulator/nrn/pull/1439 together have added this to the CoreNEURON CI.

[2021-10-14 14:11] #670 closed, assigned to alkino

[2021-10-18 07:54] ohm314 opened #754 "A utility that helps the user to optimize thie mod files"
Until now we usually ask the user to update their mod files manually for coreneuron compatibility even though this work can be done (at least to most part) automatically by NMODL. NMODL has a number of passes (e.g. variable localization, global variable elimination) that help with making an mod file coreneuron compatible and more efficient. We should provide a small utility that does that for the

[2021-10-19 22:29] pramodk opened #756 "VerbatimVarRenameVisitor doesn't handled renaming of ION variables"
See [VerbatimVarRenameVisitor](https://github.com/BlueBrain/nmodl/blob/5d144470583a2b9545a711d0a99cb37d595d9f43/src/visitors/verbatim_var_rename_visitor.hpp#L30)

[code]

But there are mod files like [lca.mod](https://github.com/soltesz-lab/dentate/blob/1ff5da2ccbbc83b8d93341b568dfa69cc773aa5b/mechanisms/lca.mod#L66) that use ion variables in the varbatim block:

[code]

and this prefix `_ion_` is

[2021-10-25 12:44] iomaganaris opened #759 "Check whether CodegenCompatibility is up to date"
- Check whether there is any documentation that needs to be updated

[2021-10-25 13:30] pramodk opened #760 "Regression testing of NMODL against ModelDB mod files"
As part of upcoming release of NEURON for frontiers, we would like to release a stable NMODL version. For this, we should check if NMODL is able to compile all mod files that are compilable by MOD2C. In order to do this we should fo following:

* Build 1) CoreNEURON with MOD2C 2) CoreNEURON with NMODL
* Clone mod files repository
[code]
which has ~750 models:

![image](https://user-images.githubus

[2021-10-27 15:43] Helveg opened #764 "Incorrect NMODL parsing error"
Parsing the NMODL below yields the following error, but to me seems like a valid expression?

[code]

Offending line:

[code]

[code]

[2021-10-27 15:45] #764 closed, assigned to nobody

[2021-10-29 08:48] #756 closed, assigned to alkino

[2021-11-01 12:14] alkino commented on #760
I'm currently running

[code]

[2021-11-01 12:32] iomaganaris opened #765 "Nested COMMENT and VERBATIM blocks are generating parser errors"
Adding the following change in one of the integrated mod files:
[code]
 generates the following error when running the specific test:
[code]
I think that the issue is with the way `VERBATIM` and `COMMENT` blocks are defined in the lexer https://github.com/BlueBrain/nmodl/blob/master/src/lexer/nmodl.ll.
I need to look more thoroughly into this to figure out what exactly is the issue

[2021-11-02 10:39] alkino opened #767 "Fix macro expansion with DEFINE"
[code]

Lexer for this is:
- `FROM <expression> TO <integer>`
- `IF <expression>`

is today converted by `nmodl` to:
[code]

and `mod2c` to:
[code]

What we have found is that `expression` token convert `integer` to `double` (because there is no rule for integer and there is a rule for hidden conversion from `integer` to `double`). And `integer` rule keep the name of macro is it exists (`macro` vs

[2021-11-05 14:12] iomaganaris opened #771 "Issue with TABLE statement definitions"
One of the netpyne mod files https://github.com/Neurosim-lab/netpyne/blob/4e6078d88b832f391dd34aaccb77e6dfeaaaaf9d/examples/evolCell/mod/ch_CavL.mod includes a table definition that seems to be the reason why `Inf` and `NaN` values are generated after the first timestep of the simulation.
With prcellstate I see:
[code]
and here is the instance struct generated to find the corresponding variables t

[2021-11-11 09:25] olupton commented on #713
https://github.com/fmtlib/fmt/pull/2582 will hopefully mean the next release of `fmt` is quieter...

[2021-11-16 12:01] alkino commented on #767
Fixed by #766

[2021-11-16 12:01] #767 closed

[2021-11-16 16:36] alkino opened #776 "ASSIGNED variable are double and so cannot be use as array index"
Sometime people wrote mod files:

[code]

what should we do with it?

Try to find when declare them `int` instead of `double`, or forbid this kind of mod files?

With **mod2c** we got a c-casting `(int) numpulses` when mandatory.

[2021-11-17 10:18] alkino opened #777 "Should avoid renaming if variables are shadowed"
In this example:
[code]
is currently converted to
[code]

We should avoid renaming if we have local shadowing

Today, it works with `passes --local-rename` option.

It happens on the model `226010` of **nmodldb**

**mod2c** scope variable like that
[code]
And does not rename them

[2021-11-19 09:29] #776 closed

[2021-11-24 17:02] #777 closed

[2021-12-03 08:16] tristan0x commented on #293
Fixed in #427

[2021-12-03 08:16] #293 closed

[2021-12-03 08:21] tristan0x commented on #11
I agree with @alkino , this part of the code is clean enough.
@ferdonline  ?

[2021-12-03 08:54] pramodk commented on #259
@olupton : I don’t remember if you have fixed this or disable warning. Could remind me? cc: @tristan0x

[2021-12-03 11:05] olupton commented on #259
It's suppressed: https://github.com/BlueBrain/nmodl/blob/4a67187535eb6d79d7ef74095dacd6434948a43d/cmake/CompilerHelper.cmake#L23

[2021-12-20 14:29] pramodk commented on #11
It was improved quite by @tristan0x and others (including @matz-e IIRC).

[2021-12-20 14:29] #11 closed

[2021-12-21 16:39] #511 closed

[2022-01-05 12:47] pramodk opened #793 "Issues while compiling with XL compiler"
Here is summary of issues I see while building coreneuron+nmodl with XL compiler:

System details : [Marconi100](https://www.hpc.cineca.it/hardware/marconi100)

Modules:

[code]

Building as:

[code]

Issues

* Link issue with test:

[code]

* Issue with Eigen based test compilation:

[code]

this requires `add_definitions(-DEIGEN_DONT_VECTORIZE=1)`.

[2022-01-05 16:03] olupton opened #794 "NEURON's tqperf test fails with NMODL"
The `tqperf` test added in https://github.com/neuronsimulator/nrn/pull/1556 works with MOD2C but not NMODL.

This was not immediately apparent because the test script does not return an error code on failure. That is improved with https://github.com/neuronsimulator/tqperf/pull/9 and https://github.com/neuronsimulator/nrn/pull/1573.

This should be investigated and fixed. In the meantime, we can ad

[2022-01-17 16:53] pramodk commented on #760
@alkino : About below error

I tested this issue with your mod file from : `cornu/TEST/nmodldb/./models/db/modeldb/127507/mod/stim.mod`
The MOD file has:
[code]
and if you run nmodl via gdb then you can see it fails in `codegen_c_visitor.cpp:1417` at `print_function_call()`:
[code]
here we call `arguments.front()->get_node_name()`.
When we have argument `del+dur`, this is a binary expression (_and

[2022-01-19 11:01] alkino opened #801 "Invalid sparse method"
In this mod file: https://github.com/BlueBrain/nmodldb/blob/downloader/models/db/modeldb/239421/mod/cdp5.mod

We try to solve with the `sparse` method with the sympy solver but:
[code]
And so, next the NeuronSolver but, `sparse` method is not yet supported with it in nmodl.

[code]

[2022-01-19 17:15] iomaganaris opened #802 "Improve BEFORE/AFTER type definition"
Currently the `BEFORE` and `AFTER` blocks have a type of type `int` which is used to register them in `NEURON/CoreNEURON`. This could be changed to an `enum` like
[code]
to make it more understandable in both `NMODL` and `NEURON/CoreNEURON`.
Based to @olupton 's suggestion in: https://github.com/BlueBrain/nmodl/pull/799/files#r787555600

[2022-01-21 11:53] cattabiani commented on #801
For sure that is not unintentional. I can see in the code:

[code]
and
[code]
Nonlinear systems are meant to be solved with the derivimplicit method. There is a check that is actually the case and we throw an error because we selected the sparse method. Now, I do not know how it works in mod2c. I suspect there is a check under-the-hood and it does actually use a derivimplicit method without tellin

[2022-01-21 13:07] cattabiani commented on #801
As by @alkino comment:

when I replace `sparse` with `derivimplicit`:
Method derivimplicit can't be used with Block state at line 296 in file /gpfs/bbp.cscs.ch/home/cornu/TEST/nmodldb/models/db/modeldb/239421/mod/cdp5.mod

[2022-01-21 13:08] cattabiani commented on #801
Line 296 is the ond of the file. It does not make much sense to me

[2022-01-23 23:13] nrnhines commented on #801
The ```sparse_thread``` callback to ```int state(so, rhs, _threadargs_)``` where ```#define nrn_state _nrn_state__cdp5```is indirect because gpus (at least in the past) could not use pointers to functions.
The key comment is in coreneuron/mechanism/mech/dimplic.cpp
[code]

The nrn_state function calls
[code]
with ```#define _linmat1  0``` and  the corresponding arg in ```sim/scopmath/sparse_thread

[2022-01-24 08:01] cattabiani commented on #801
So, if I understand correctly, the sparse method uses a newton iteration linearizing the non-linear problem right? In that case the nonlinear solver should be used in nmodl not the linear one

[2022-01-24 11:19] nrnhines commented on #801
@cattabiani Correct for the first. And yes, if you fallback to the classic mod2c solver then it should be with arg linmod=0.
@pramodk Is it still the case on gpu that one cannot pass function pointers with openacc? Our current work around is quite obscure.

[2022-01-24 11:35] cattabiani commented on #801
I turn the second question to @iomaganaris  since pramod is on vacation (and will remain on vacation for a while)

[2022-01-24 14:23] iomaganaris commented on #801
I created a small example with a function pointer being used in an OpenACC region and it seems like this is still the case

[2022-01-27 17:08] #801 closed

[2022-02-21 10:51] iomaganaris opened #809 "Code generation issue with inlining"
Installing `NEURON` with `NMODL` on Apple Macbook Air with M1 processor generated the following issue when compiling the [na3n.mod file from the reduced_dentate repo](https://github.com/neuronsimulator/reduced_dentate/blob/master/mechanisms/na3n.mod):
[code]
Seems like there is some issue with the code generated in
[code]
which should be:
[code]
after the inline pass.
Unfortunately I couldn't repr

[2022-03-10 10:00] olupton opened #814 "Documentation no longer has :imported-members:"
In https://github.com/BlueBrain/nmodl/pull/812 some instances of `:imported-members:` were removed because they were breaking the documentation build.

We should verify if this has compromised the published documentation and, if so, then find a better workaround.

[2022-03-11 18:37] iomaganaris opened #816 "Generate the same Instance Struct for all the backends"
For the LLVM backend we create a special Instance Struct that includes apart from the variables of the current C++ pointers to the indexes of `ion` variables and some variable of the `NrnThread`.
More details of how this is implemented can be found here: https://github.com/BlueBrain/nmodl/pull/551
We (probably) should change this and together with the functions defined in the `CodegenLLVMVisitor`

[2022-03-14 09:56] iomaganaris opened #822 "Add warning for `POINTER` variables"
If there is a `POINTER` variable check whether there is a `VERBATIM` block and if yes print warning saying that `POINTER` should only track `RANGE` variables and not be used in `VERBATIM` blocks as a way to manage user defined memory

[2022-03-25 16:38] iomaganaris opened #834 "[LLVM] Atomic updated in GPU generated code"
Some mod files (mostly for synapses) update the current of the cell in parallel and thus this update needs to be done atomically or using a scatter-gather policy like we do on the CPU parallel execution.
We need to have a look how these updated should be done in the GPU execution and how to generate atomic commands for the GPU backend

[2022-04-04 09:29] pramodk commented on #760
For this, today we consider that user should fix the mod file. It's documented in https://nrn.readthedocs.io/en/latest/coreneuron/compatibility.html#thread-safe-mod-files

This is something worth discussing. We can do it today @ 2PM dev discussion. It would be great if you could add a slide with 1) example of MOD file 2) how mod2c generate code for this and what is problem 3) how it's done in NMOD

[2022-04-04 09:39] alkino commented on #760
All issues are fixed, except one I still didn't discover

[2022-04-12 15:26] iomaganaris opened #844 "[LLVM] Add debug symbols to GPU code"
Currently debug symbol addition fails to compile with CUDA compiler.
According to [a mail](https://lists.llvm.org/pipermail/llvm-dev/2017-November/118841.html) from the llvm mailing list there are multiple issues that need to be addressed to make this work.
By changing by hand the following line in the generated PTX code:
[code]
to calculate explicitly the sector sizes I managed to get the PTX com

[2022-04-14 12:05] iomaganaris commented on #809
I got a similar issue again when building `NEURON` with `NMODL` enabled in M1 but this time in a different mod file:
[code]

[2022-04-14 13:08] iomaganaris commented on #809
Seems like after https://github.com/BlueBrain/nmodl/commit/2109df6abeaa4816dc4c54c1d65caba3d993a2f1 this issue is somehow fixed

[2022-04-15 16:23] georgemitenkov commented on #834
@iomaganaris @pramodk As far as I understand, for atomics we consider 3 cases (examples below):
1. Write + addition
2. Write + subtraction
3. Write
[code]
While the first two cases can be handled with cuda atomics (`atomicAdd` to be precises), the last one I am unsure about. What is the current approach to perform such writes? Do we guarantee some kind of ordering if multiple threads write to the

[2022-04-15 17:18] pramodk commented on #834
@georgemitenkov : looking at the current code & use case, I don't think we have to worry about 3) i.e. only atomic add/subtract is used. I think OpenACC/OpenMP at least support more operations but that we can take a look later.

[2022-04-19 16:48] iomaganaris opened #846 "Unit tests related to UNITS fail on Apple M1"
Running the `NMODL` unit tests using `ctest` on the Apple M1 fails with the following tests crashing which are all related to floating point precision of UNITS:
[code]

[2022-04-27 12:57] ohm314 opened #848 "replace _format with fmt::format"
`fmt` has deprecated its UDL-based `_format` API. This is starting to through warnings in our build: https://github.com/BlueBrain/nmodl/runs/6081886419?check_suite_focus=true#step:12:135

We should switch to the `fmt::format` API, which also provides more compile-time checks.

[2022-04-27 21:51] pramodk opened #850 "Simplify C code generation backend and remove experimental/unnecessary options"
While trying to redo code generation for `nrn_cur` and `nrn_state` in the LLVM branch, I notice that there are old/experimental options in the C backend that could be just removed at this stage. They will be useful `at some point in the future` but the current coreneuron setup doesn't allow us to use them anyway. So they are just making 🍝 now!

List of such options/flags (WIP)

- [x] Remove OpenMP

[2022-04-27 22:29] pramodk opened #851 "Fix constraint for the atomic: Only assignment is supported for CodegenAtomicStatement"
See the https://github.com/BlueBrain/nmodl/pull/645#issuecomment-1095075632:

[code]
As mentioned there, `a += b` can be written as ` a = a + b`, and hence this error is not quite right.

Currently, we have to write verbose code due to this error message. Maybe this could be fixed with minimum effort?

[2022-04-27 23:27] pramodk commented on #851
By the way, this is not a blocker!

[2022-04-28 10:53] iomaganaris opened #852 "[LLVM] Refactor Platform class"
Currently class `Platform` is used to store information for all platforms (CPU and GPU).
Instead of this we should define new derived classes `CPUPlatform` and `GPUPlatform` from `Platform` that include only the relevant fields for each platform.

[2022-04-28 14:27] #848 closed

[2022-05-03 13:11] iomaganaris opened #857 "[LLVM] Handle atomic SIMD instructions"
Atomic SIMD instructions should be handled by doing a reduction loop at each loop iteration of the vectorised code similar to the external loop that exists in the ISPC generated code.

[2022-05-13 15:34] iomaganaris opened #869 "[LLVM] Renaming of variables inside kernel and epilogue loop might be wrong"
In the vectorized kernel loop and the epilogue loop we do some variables transformantions and renaming that might lead to bugs in the generated code.
First of all we convert the variables inside the kernel loop from local to instance variables with https://github.com/BlueBrain/nmodl/blob/llvm/src/codegen/llvm/codegen_llvm_helper_visitor.cpp#L471 in https://github.com/BlueBrain/nmodl/blob/llvm/src/

[2022-05-17 13:23] cattabiani commented on #749
omg I did not see this being assigned to me for a very long time lol

There are a few ways to tackle this. I will find one

[2022-05-18 08:24] #749 closed

[2022-05-30 13:17] olupton commented on #185
This was closed by #739.

[2022-05-30 13:17] #185 closed

[2022-05-30 13:21] olupton opened #876 "Documentation CI fails"
Starting today the documentation and wheel CI builds are failing, e.g. https://dev.azure.com/pramodskumbhar/nmodl/_build/results?buildId=4098&view=logs&j=e663e406-bc69-5454-a50c-2daf70096c50&t=44a6ba8e-413d-536f-de25-37de658d0279:
[code]

[2022-05-30 13:24] olupton commented on #876
This is probably related to sphinx 5.0.0 being released yesterday: https://pypi.org/project/Sphinx/5.0.0

[2022-05-31 08:24] #332 closed

[2022-06-15 02:40] ramcdougal opened #881 "Exceptions from`__getattribute__` in a visitor don't propagate"
Exceptions from`__getattribute__` in a visitor don't propagate. For example, this code
[code]

displays

[code]

In particular, the `visit_model` code has no way to know that something went wrong in the `__getattribute__`. (By contrast, exceptions in e.g. `visit_string` do propagate.)

Calling ` TitleVisitor().llama` successfully raises an `AttributeError` exception.

[2022-06-15 02:43] ramcdougal commented on #881
Raising an `AttributeError` instead of an `Exception` still fails to pass the exception to `visit_model`.

[2022-06-15 09:20] iomaganaris commented on #809
@alkino Have you maybe tested whether this fixes the issue in an M1 machine?

[2022-06-16 09:50] iomaganaris commented on #809
It seems like the issue is still not resolved. On M1 `nmodl` seems to work multiple times when launched by itself but when it's launched by `nrnivmodl-core` it crashes more frequently

[2022-06-16 11:04] #53 closed, assigned to pramodk

[2022-06-16 11:56] iomaganaris commented on #809
Some more instructions to reproduce the issue in M1 processors:
[code]
Above script is installing NMODL and CoreNEURON and compiles the mod files from reduced dentate that showcase this issue multiple times until there is a failure.
With the above workflow it's easy to do some change in NMODL, then rebuild and install it and `nrnivmodl-core` will then use the updated NMODL executable

[2022-06-16 12:12] #283 closed

[2022-06-16 12:32] alkino commented on #542
https://github.com/BlueBrain/nmodl/pull/778 Fix some of them.
Do you think to other cases?

[2022-06-16 12:34] #480 closed

[2022-06-24 13:54] alkino commented on #44
I always like to clean code, but what was the idea behind this ticket?

[2022-06-24 14:28] alkino commented on #164
It seems that you fixed yourself the problem there:
https://github.com/BlueBrain/nmodl/pull/166

It automatically creates a `condition` property inside node class.

[2022-06-29 07:49] alkino commented on #881
It will not be possible to fix that.
From c++ side you receive an exception. The C API of Python only return a boolean, hard to know if the error is because of a AttributeError or no.
As the class is override when an error occured pybind choose to return a function pointer to the C++ base implementation.

So, we can do nothing on our side and it will surely never be fixed.

Sorry.

[2022-06-29 07:49] #881 closed

[2022-06-30 07:10] alkino commented on #164
Your patch create the `condition` variable on `node`

[code]

Output
[code]

[2022-06-30 07:10] #164 closed

[2022-06-30 07:45] pramodk opened #888 "Testing & Fixing issues with DBBS-Lab's MOD file collection"
We have been working with Robin in order to run his model with CoreNEURON on GPU (see neuronsimulator/nrn/issues/1839). While testing the model, we have seen quite some issues in NMODL translation. The goal of this ticket is to compile mod files and fix translation+compilation issues.

### What to do?

* Install coreneuron + nmodl with sympy (`-DCORENRN_ENABLE_NMODL=ON "-DCORENRN_NMODL_FLAGS=sympy

[2022-07-13 11:01] olupton opened #897 "Debug builds of NMODL with NVIDIA compilers are broken"
If NMODL is built with the NVIDIA HPC compilers (nvc/nvc++, I tested 22.3) and assertions enabled, e.g.
[code]
then compilation succeeds but tests fail, e.g.
[code]
if I run it inside GDB, I see
[code]
note that when NMODL is built as a submodule of CoreNEURON, and CoreNEURON GPU support is enabled, then NMODL is built using the NVIDIA compilers...

[2022-08-08 13:41] olupton commented on #897
This seems to be related to using NVHPC 22.3 in C++17 mode: https://github.com/fmtlib/fmt/issues/3028#issuecomment-1208145480.

[2022-08-16 12:01] olupton commented on #897
https://github.com/fmtlib/fmt/commit/203a4cea88b9da4eb2c1786d8a18438e24b427bd is a crude workaround for the issue, which seems to have been fixed in newer NVHPC versions.

[2022-08-18 11:07] #760 closed, assigned to alkino

[2022-08-18 11:34] pramodk commented on #771
Without a reproducer, may be we can check the TABLE related generated code from mod2c and see if it is similar to NMODL? After TABLE there are no variables specified and I am wondering if there is something related to it.

[2022-08-18 12:39] olupton opened #910 "clang-tidy compliance should be tested in the CI"
https://github.com/BlueBrain/nmodl/pull/902 defines a set of clang-tidy rules and fixes/suppresses the code so that they all pass, but this is not yet enforced in the CI.

When using tools like this, we should add checks to prevent regressions. Unfortunately for clang-tidy this may be a little too slow, but we can investigate. Tools like https://github.com/matus-chochlik/ctcache may be useful.

[2022-08-23 09:49] alkino commented on #771
The problem here is that in mod2c the code is quite different if the table is inside a funciton or inside a procedure.
First of all, a table inside a procedure need at list one table argument. In a function, it is impossible to get a variable.
The table variable is the "return variable" of the function.

Second problem is that inside procedure there is no return but in function we should return th

[2022-08-23 11:51] iomaganaris commented on #897
I get the same issue when building nmodl@7000ff6 (`nmodl` submodule coming from `nrn`) with Intel compiler

[2022-08-24 07:42] #794 closed

[2022-08-24 14:23] iomaganaris commented on #771
To test this and reproduce the issue:

1. Clone https://github.com/iomaganaris/M1/tree/magkanar/M1_vip_ngf
2. Revert commenting of `TABLE` statements from the mod files
3. Install `NEURON` with `CoreNEURON` and the desired `NMODL` version
4. "Install" `NetPyNE` [1]
5. Run `M1` sim with prcellstate (gid 5 (NGF cell) has `ch_CavL` mechanism) [2]
6. Run the sim with `mod2c`, `nmodl` and fixed `nmodl`

[2022-08-29 11:14] iomaganaris commented on #771
Above issues are now fixed with #916 .
The only difference now is the following:

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/23345686/187188707-9d52ec36-1203-4414-9236-d4413bfa0368.png">

Not sure whether this is related to the `TABLE` statements though. I need to investigate a bit more

[2022-08-29 13:39] alkino commented on #545
We should remove `VarName` at then and use `Identifier` (base class of all type).

[2022-08-30 10:55] #897 closed

[2022-08-30 11:51] #771 closed

[2022-09-01 10:04] alkino commented on #465
From this mod file https://github.com/suny-downstate-medical-center/netpyne/blob/coreneuron/examples/coreneuron/m1/mod/my_exp2syn.mod#L82_L86

We can see:
[code]

and mod2c generate:
[code]

Where `state_discontinuity` is defined in CoreNeuron as:
[code]

So it is simply copying the second argument to the first one.

@nrnhines, we have following questions:

- is this correct implementation on Core

[2022-09-01 10:44] nrnhines commented on #465
It is not known to be thread safe as it depends on the global variables state_discon_allowed_ and state_discon_flag_. But maybe it is thread safe.

state_discontinuity() should be deprecated (e.g. replaced by ```A = A + weight*factor```as it prevents ```h.nrn_netrec_state_adjust = 1``` from working properly.

[2022-09-01 11:14] alkino commented on #465
What about `if (state_discon_allowed_ && state_discon_flag_ == 0)`, should we skip it?

[2022-09-01 14:15] alkino commented on #299
Related to: https://github.com/BlueBrain/nmodl/issues/260

[2022-09-01 14:53] alkino commented on #214
This problem seems solve. I translate the above file and everything seems fine.

[2022-09-01 15:00] iomaganaris commented on #214
Cool. This can be closed then

[2022-09-01 15:00] #214 closed

[2022-09-05 09:51] iomaganaris commented on #846
Duplicate of https://github.com/BlueBrain/nmodl/issues/529

[2022-09-05 09:51] #846 closed

[2022-09-06 19:49] pramodk opened #927 "KINETIC block with function call result into sympy exception: SympySolverVisitor :: solve_non_lin_system python exception: 'Symbol' object is not callable"
Consider a MOD file [glia__dbbs_mod_collection__Na__granule_cell.mod](https://github.com/dbbs-lab/dbbs-mod-collection/blob/master/dbbs_mod_collection/mod/glia__dbbs_mod_collection__Na__granule_cell.mod) which has:

[code]

when we run this via NMODl we get:

[code]

Here some quick comments:

* note the function calls `alpha`, `beta` and `teta`. I think they are not inlined in the above example an

[2022-09-09 14:19] pramodk opened #930 "Review complexity of sympy generated (scary?) code for KINETIC block"
While fixing the issues in #888, I came across [glia__dbbs_mod_collection__cdp5__CR.mod](https://github.com/dbbs-lab/dbbs-mod-collection/blob/master/dbbs_mod_collection/mod/glia__dbbs_mod_collection__cdp5__CR.mod) file (use attached version!). By using following nmodl command:

[code]

The generated code from sympy for KINETIC block looks like:

[code]

[2022-09-10 17:10] Helveg commented on #888
Also, to us this is brittle legacy code, if you have any advice/sanitizations to make these mod files more standard; there's likely no technical reason for the weirder things they do more than that they are 20 years old and noone ever knew better.

[2022-09-12 08:04] pramodk commented on #888
@Helveg : thanks! Definitely revisit them. Some of the MOD files can be made compatible with some changes but I also wanted to make NMODL to handle all legacy usage patterns. Hence would like to fix the issues.

We will come back to you once few remaining issues are solved.

[2022-09-12 11:53] cattabiani commented on #930
I do not see the problem. We have a matrix represented as a vector and we are filling it with the values. It is scary because it is ~20x20 (afaik). With 20 different variables the problem is deemed to be complex.

[2022-09-12 11:54] cattabiani commented on #927
ehehe, I need to remember. I will be back to you trying this.

[2022-09-13 04:56] pramodk commented on #927
After discussion with @cattabiani, I will put a simple example showing what we want to do here:

[code]

If we run above example via nmodl today then we get:

[code]

Note that the problematic part is that the `python exception` with `'Symbol' object is not callable`. When we pass a line containing function call `beta(v)` to sympy:

[code]

then sympy is not aware of function definition and hence

[2022-09-13 12:07] alkino commented on #545
Related to #903

[2022-09-13 18:48] pramodk commented on #927
@cattabiani : I think we were a bit wrong i.e. we forgot that that in sympy we already pass the list of user-defined functions here https://github.com/BlueBrain/nmodl/blob/ea1acbd4ab8f10f1365ac9a7be582fc6b9b1f67c/nmodl/ode.py#L199 and unit tests are already here https://github.com/BlueBrain/nmodl/blob/ea1acbd4ab8f10f1365ac9a7be582fc6b9b1f67c/test/unit/visitor/sympy_solver.cpp#L389

[2022-09-13 19:11] pramodk opened #931 "function name collision between sympy and nmodl"
Consider a sample MOD file (provided by @alkino):

[code]

Running this with NMODL and Sympy == 1.5.1 gives:

[code]

Renaming the function name from `beta` to something else like `betaX` works. So this seems like the function name collision mentioned here: https://github.com/sympy/sympy/issues/9253.

By the way, this doesn't happen with newer sympy versions like >= 1.9.

[2022-09-14 08:24] cattabiani commented on #931
`gamma` and `beta` are reserved functions in sympy:
https://docs.sympy.org/latest/modules/functions/special.html

[2022-09-14 08:28] cattabiani commented on #931
we should forbid or the conflict of the following special functions:
`gamma, lowergamma, uppergamma, polygamma, loggamma, digamma, trigamma, beta`

[2022-09-14 09:31] ohm314 commented on #930
I was also gonna say, this looks fine to me? One potential improvement could be to first initialize all with 0 (when allocating) and then only set the non-zero values.

[2022-09-14 14:26] cattabiani commented on #931
[code]

[2022-09-14 21:25] pramodk commented on #931
@cattabiani : that's correct, right? I mentioned that this does **not** happen with the newer version but version like 1.5.1. (bypass the way, with version 1.9 I see `NMODL Parser Error` at later stage but don't know the source of that)

[2022-09-15 11:14] cattabiani commented on #931
ok, I finally tracked down the problem. Let's focus on sympy and on a simpler version of the same problem. Consider this minimal python file:
[code]

- sympy 1.5.1: throws the error: beta requires 2 inputs
- sympy 1.9: it just "sympifies" it too much and returns `beta(v, v)` effectively duplicating the input to fit

the previous version (1.5.1) behavior was much better for us because with 1.9 beta

[2022-09-22 11:09] alkino commented on #927
So here is a lot of problems:

- [ ] Name of a range variable can conflict with the name of a function: #934
- [ ] When not inlining usage of locally defined functions can lead to crash: #935
- [ ] Some locally defined functions have protected names

[2022-09-23 08:08] pramodk opened #936 "Option to track usage/coverage of NMODL grammar rules from Bison specification"
In order to check the NMODL language spec coverage, we would like to know which of the grammar rules are used today in all of the existing models (e.g. ModelDB).

One idea was if we could simply find "bison code coverage" but it doesn't seem like there is such an option: https://stackoverflow.com/questions/73775577/coverage-of-rules-files-generated-by-bison

Another we are considering is to simply

[2022-09-26 11:42] alkino commented on #927
There is three tickets on this

[2022-09-28 04:43] pramodk commented on #936
WIP branch I created for this is [pramodk/nmodl-parser-tracing](https://github.com/BlueBrain/nmodl/tree/pramodk/nmodl-parser-tracing).

Here are the rules from [nmodl.yy](https://github.com/BlueBrain/nmodl/blob/master/src/parser/nmodl.yy) that are not used in ModelDB models:

[code]

#### Some false positives

Not in ModelDB models but it’s in BBP models or known optimisations:

[code]

[2022-09-28 04:54] nrnhines commented on #936
With respect to integer rules, take a look at https://github.com/nrnhines/glu3d/blob/master/glu3d.mod

[2022-09-28 06:41] alkino commented on #936
We should look at https://github.com/neuronsimulator/nrn/issues/1957
Some of those items are already covered.

[2022-09-28 07:16] #927 closed

[2022-09-28 09:53] iomaganaris opened #938 "INCLUDEd files in mod files can redefine existing blocks"
Take for example:
[code]
and https://github.com/neuronsimulator/nrn/blob/master/share/examples/nrniv/netcon/netcon.inc.
`BREAKPOINT` block is defined in both of them and the generated code includes the code that gets generated by both `BREAKPOINT` blocks (with `NEURON` nmodl):
[code]
Currenty `NMODL` when we try to translate the same file we get:
[code]

[2022-10-05 21:20] pramodk opened #943 "Remove dependency with Eigen (and use internal Crout solver implementation instead)"
We have seen quite some issues with Eigen-based solvers when it comes to OpenACC/OpenMP offload on GPUs. In order to simplify the implementation and reduce the maintenance burden, we should evaluate and then remove Eigen dependency from NMODL.

As part of this ticket:

* Check the existing of Eigen
* Confirm if we can replace the usage by Crout solver
* Have implementation without Eigen
* Measure

[2022-10-06 13:42] iomaganaris opened #945 "Implement CONSTANT block"
Check the `CONSTANT` block implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 13:43] iomaganaris opened #946 "Implement BEFORE / AFTER blocks"
Check the `BEFORE` and `AFTER` blocks implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 13:44] iomaganaris opened #947 "Implement STEP block"
Check the `STEP` block implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 13:44] iomaganaris opened #948 "Implement DISCRETE block"
Check the `DISCRETE` block implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 13:45] iomaganaris opened #949 "Implement FUNCTION_TABLE construct"
Check the `FUNCTION_TABLE` construct implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 13:51] iomaganaris opened #950 "Add unit tests for CONSTRUCTOR / DESTRUCTOR blocks"
Add codegen unit tests for `CONSTRUCTOR` and `DESTRUCTOR` blocks to make sure they are implemented correctly.

Adding of `CONSTRUCTOR` :  https://github.com/BlueBrain/nmodl/commit/b6de274d3abd3441be64cd5454474691b777fe76
Adding of `DESTRUCTOR` : https://github.com/BlueBrain/nmodl/commit/4318e2f9ddc3a7d61e20bdb1aee2e211fc0d67d4

[2022-10-06 14:03] iomaganaris opened #951 "Implement INDEPENDENT block"
Check the `INDEPENDENT` block implementation and documentation in `NEURON` and add related unit test in `NMODL`. Check also `SWEEP` keyword implementation.

[2022-10-06 14:04] iomaganaris opened #952 "Implement PROTECT keyword"
Check the `PROTECT` block implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 14:04] iomaganaris opened #953 "Implement MUTEXLOCK / MUTEXUNLOCK constructs"
Check the `MUTEXLOCK` and `MUTEXUNLOCK` construct implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 14:05] iomaganaris opened #954 "Implement LONGITUDINAL_DIFFUSION construct"
Check the `LONGITUDINAL_DIFFUSION` construct implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 14:05] iomaganaris opened #955 "Implement LAG construct"
Check the `LAG` construct implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 14:06] iomaganaris opened #956 "Deprecate EXTERNAL constructs"
Check the `EXTERNAL` construct implementation and documentation in `NEURON` and add related unit test in `NMODL`.

[2022-10-06 14:53] iomaganaris commented on #951
`INDEPENDENT` block should only be used with variable `t` in NEURON. If there is another variable set we should print a warning. Also `SWEEP` doesn't matter and no additional code should be generated for `INDEPENDENT` by NMODL

[2022-10-06 19:59] iomaganaris opened #957 "Increase code coverage of CodegenCVisitor"
Currently the code coverage of the https://github.com/BlueBrain/nmodl/blob/master/src/codegen/codegen_cpp_visitor.cpp responsible for printing almost all of the C++ code is around ~89% according to the code coverage report you can find attached.
[nmodl_coverage.zip](https://github.com/BlueBrain/nmodl/files/9728180/nmodl_coverage.zip)
The code coverage was generated using the following script https

[2022-10-07 12:58] iomaganaris opened #958 "Update status of implemented and supported solvers"
Update the status of the implemented solvers in https://github.com/BlueBrain/nmodl/blob/master/docs/language.rst and check which ones are still related to the CoreNEURON solver to make the change from MOD2C to NMODL as default and also which ones are related to NEURON as well.

[2022-10-10 14:48] pramodk opened #959 "List of missing code generation features and relevant tickets by priorities"
This ticket is just to track relevant tickets and mention their priorities of those.

Ioannis has already created all tickets that can be found [here](https://github.com/BlueBrain/nmodl/issues?q=+is%3Aissue+label%3Anmodl_feature_complete+). But we want to know what should be the priority of these tickets. In order to do this, we simply look at the number of mod files in ModelDB that uses these con

[2022-10-10 15:31] iomaganaris opened #960 "Add unit/integration test for LINEAR block"
It seems like mod files with LINEAR blocks are not generated properly with `sympy --analytic` visitor. See for example: https://github.com/neuronsimulator/nrn/blob/master/src/nrnoc/vclmp.mod
We need to validate whether the code is generated properly and add complete unit tests.
For example:
[code]
generates strange code in `nrn_state`:
[code]
Notice the code under `return 0;` which doesn't get pri

[2022-10-11 12:44] alkino commented on #110
Should be close with #962 and #963?

[2022-10-12 09:02] iomaganaris commented on #844
This is related to LLVM IR and not to the CUDA code so it's still relevant

[2022-10-14 09:39] #463 closed

[2022-10-14 09:42] alkino commented on #70
ISPC backend have been removed in #963

[2022-10-14 09:42] #70 closed

[2022-10-14 09:43] alkino commented on #137
ISPC backend have been removed in #963

[2022-10-14 09:43] #137 closed

[2022-10-14 09:43] alkino commented on #237
ISPC backend have been removed in #963

[2022-10-14 09:43] #237 closed

[2022-10-14 09:46] alkino commented on #62
ISPC backend have been removed in https://github.com/BlueBrain/nmodl/pull/963

[2022-10-14 09:46] #62 closed

[2022-10-14 09:46] alkino commented on #208
ISPC backend have been removed in https://github.com/BlueBrain/nmodl/pull/963

[2022-10-14 09:46] #208 closed

[2022-10-24 10:53] #943 closed

[2022-10-28 06:19] kotsaloscv opened #971 "Better error checking/handling in Crout & Newton Solvers"
Currently, the error checking in Crout and Newton evaluates their return status (an int) and checks it with an assert statement.
Of course this is limited to build without NDEBUG flag ON.

The idea is to have a counter that will be incremented if the conditions are not met. At a proper wait region, this counter should be checked and if above zero we should throw a runtime error. The counter should

[2022-10-31 15:40] alkino commented on #951
Closed by #966

[2022-10-31 15:40] #951 closed

[2022-11-28 05:30] pramodk commented on #809
I don't think this happens on Apple M1 only! today on my Intel MacBook I saw:

[code]

The NMODL version:

[code]

And CMake command I used:

[code]

Tried to build again and I see:

[code]